@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&family=Vina+Sans&display=swap');@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&family=Vina+Sans&display=swap');@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;1,300&family=Vina+Sans&display=swap');@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;1,300&family=Vina+Sans&display=swap');

h1{
    font-family: 'Vina Sans', cursive;
    font-size: 1000%;
    font-weight: lighter;
    padding-bottom: 8px;
    
}

header {
    border-style: dotted;
    padding: 1px;
    position: fixed;
    top:0;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 1;
}


.vertical {
    border-left: 2px dotted black;
    height: 2000px;
    margin-top: 130px;
    position: fixed;
    left: 50%;
}

section{ 
    top: 470px;
}

.sticky{
    position: sticky;
    top:490px;
    margin-right: 52%;
}

aside p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0%;
    text-align: center;
    line-height: 1.25;
}

article {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 50%;
    background-color: white;
    padding: 20px;
    padding-top: 140px;
    
}

p {
    font-weight: 400;
    padding: 20px;
    text-align: left;
    text-indent: 30px;
    line-height: 1.25;
}

em{
    font-style: italic;
    font-weight: 400;
}

blockquote.one{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    padding-left: 85px;
    padding-top: 20px;
}

blockquote.two{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    font-size: 30px;
    padding-left: 50px;
}

blockquote.three{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    font-size: 30px;
    padding-left: 100px;
}

blockquote.four{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    font-size: 30px;
    padding-left: 100px;
}

blockquote.five{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    font-size: 30px;
    padding-left: 300px;
    padding-bottom: 20px;
}

blockquote span{
    background-color: lightgray ;

}

.response{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 50%;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: 2px dotted black;
    line-height: 1.25;
}

blockquote.six{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.19;
    text-align: left;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 20px;
   
}

blockquote.seven{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.19;
    text-align: left;
    font-size: 30px;
    padding-left: 40px;
    
}

blockquote.eight{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.17;
    text-align: left;
    font-size: 30px;
    padding-left: 100px;
    padding-bottom: 20px;
    
}

.footer{
    border-style: dotted;
    padding: 1px;
    bottom: 0px;
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    background-color: white;
    position: relative;
    z-index: 1;
}

th{
    padding-left: 6px;
    padding-right:5px;
    width: 47.7%;
}


