@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;1,300&family=Vina+Sans&display=swap');@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;1,300&family=Vina+Sans&display=swap');

h1{
    font-family: 'Vina Sans', cursive;
    font-size: 600%;
    font-weight: lighter;
    padding-bottom: 10px;
}

header {
    border-style: dotted;
    padding: 1px;
    position: fixed;
    top:0;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 1;
}


.vertical {
    border-left: 2px dotted black;
    height: 800px;
    margin-top: 130px;
    position: fixed;
    left: 50%;
}

section{
    height: 3500px;
    top: 470px;
}

section:nth-child(2){
    height: 10%;
}


.sticky{
    position: sticky;
    top:470px;
    margin-right: 52%;
}

aside p{
    padding: 0%;
    text-align: center;
}

article {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 50%;
    background-color: white;
    padding: 20px;
    padding-top: 90px;
    
}

p {
    font-weight: 300;
    padding: 20px;
    text-align: left;
    text-indent: 30px;
    line-height: 1.4;
}

em{
    font-style: italic;
}

blockquote.one{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 20px;
}

blockquote.two{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 30px;
    padding-left: 40px;
}

blockquote.three{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 30px;
    padding-left: 100px;
}

blockquote.four{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 30px;
    padding-left: 100px;
}

blockquote.five{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 30px;
    padding-left: 100px;
    padding-bottom: 20px;
}

blockquote span{
    background-color: lightgray ;

}


.response{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 50%;
    padding: 20px;
    padding-top: 30px;
    border-bottom: 1px dotted black;
    border-top: 2px dotted black;
}

blockquote.six{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 20px;
    color: black;
}

blockquote.seven{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 30px;
    padding-left: 40px;
    color: black;
}

blockquote.eight{
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 30px;
    padding-left: 100px;
    padding-bottom: 20px;
    color: black;
}

.footer{
    border-style: dotted;
    padding: 1px;
    bottom: 0px;
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 11px;
    background-color: white;
    position: relative;
    z-index: 1;
}

th{
    padding-left: 5px;
    padding-right:5px;
    width: 48%;
}


